@media screen and (max-width:400px){
    .nav-container{
        flex-direction: column;
      }
      .nav-container{
          flex-direction: column;
          width: 100%;
      }
      .nav-container h2{
        margin-top: 20px;
        width: 100%;
      }
      .nav-items-container {
        width: 100%;
        text-align: center;
          margin-top: 20px;
          flex-direction: column;
      }

      .nav-items-container .followus-btn{
  
     width: 100%;
  
      }


}
    
    /* nav responsive ends here */
    /* banner section starts here */
    .banner-container{
        flex-direction: column;
    
    
    }
    .banner-text h1{
      font-size: 45px;
    }
    .banner-text, .banner-img{
        width: 100%;
    }
/* banner section ends here */
/* grid container section starts here */
.grid-container{
  max-width: 100%;
  
  }
  .Online-Game{
    
display:grid;
   grid-template-columns: repeat(1,1fr);
  

}



/* grid container section ends here */
    /* tablet responsive starts here */


    @media screen  (min-width:400px) and (max-width:768px) {
        .nav-items-container {
            width: 100%;
            
            text-align: center;
              margin-top: 20px;
              
          }
          .banner-text:{
            width: 100%;
          }
          /* navber design ends here */
          /* banner section starts here */
    .banner-container{
        display: flex;
        row-gap: none;
    }
    }
    /* banner section ends here */
  /* grid container section starts here */

  .Online-Game{
    
    display:grid;
       grid-template-columns: repeat(2,1fr);
      
    
    }

/* grid container section ends here  */























